<p>This website is built using angular and typescript. the links "start", "about", "converter" is made using routing
    with different components in Angular. One benefit of routing is that the webpage doesnt need to reload, it only
    loads the components. Under "converterpage" is a converter component- an application made for converting different values of degrees
    or measurement. The converter was made using typescript with event binding, two-way data binding and text
    interpolation in angular. The picture on the start page is using property binding through angular as well. The CSS for the different components is styled in each component folder to  I found
    it surprisingly easy going to start using angular, everything felt well structured and to build a website with an
    application seems way faster with the help of angular language.</p>