nav ul{
display: flex;
   flex-direction: row;
   margin: auto;
   align-content: space-around;
}

li {
    
    padding: 2em;
    margin: auto;
    font-size: 1.2em;
    list-style: none;
  
}

li a:hover {
color: rgb(219, 255, 213);
}



main {
    width: 80%;
    margin: auto;
    padding-top: 2em;
text-align: center;
}

h1 {
    padding-bottom: 1em;
}

footer {

  bottom: 100%;
  width: 100%;
  position: relative;
}

footer p {
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    background-color: rgb(34, 53, 70);
}



@media all and (max-width: 900px) {

li {
padding: 0em;
  margin: auto;
    max-width: 50%;
}
ul {
 display: contents};

}