/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(103, 124, 145);
    max-width: 2000px;
}


p,
h1,
h2,
h3,
a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin: auto;

}

p {
 text-align: center;
}

@media all and (max-width: 900px) {
    button {
        max-width: 100%;
    }
.results {
    width: 90%;
}}
